<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <mapping class="qin.javaee8.hibernate.testing.TestDomain"/>
        <!--<mapping class="qin.javaee8.hibernate.domain.JDGoodsType"/>-->
        <!--<mapping resource="qin/javaee8/hibernate/domain/hbm/mysql/mobile.goods.hbm.mysql.xml"/>-->
        <!--<mapping resource="qin/javaee8/hibernate/domain/hbm/oracle/mobile.goods.hbm.xml"/>-->

        <!-- 二期实体类改善 -->
        <mapping resource="qin/javaee8/hibernate/jd/domain/htm/mysql.jdMobileGoods.xml"/>
        <mapping class="qin.javaee8.hibernate.jd.domain.JDGoodsType"/>

    </session-factory>

</hibernate-configuration>