/*首页样式*/

/*欢迎样式*/
.homeTitle
{
    font-family: 微软雅黑;
    font-size: 21px;
    color: black;
    font-weight: bold;
}

/*欢迎样式*/

.timeTitle
{
    font-family: 微软雅黑;
    font-size: 16px;
    color: black;
    margin-top: 3%;
}
















